ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

.current {
  background-color: yellow;
  font-weight: bold;
  border-bottom: black solid 1px;
}

.skip {
     position: absolute;
     top: -1000px;
     left: -1000px;
     height: 1px;
     width: 1px;
     text-align: left;
     overflow: hidden;
 }

 a.skip:active,
 a.skip:focus,
 a.skip:hover {
     left: 0;
     top: 0;
     width: auto;
     height: auto;
     overflow: visible;
 }
